@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
#schermo{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
}
#menu li a{
    text-decoration: none;
    margin-left: 65px;
}
.menulist{
    font-size: 32px;
    font-family: 'Oswald';
    color: white;
  }
  #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 65px;
    padding-left: 100px;
    padding-right: 100px;
}
.hidden{
    display: none;
}